webhelper.sh
.vercel
# Byte-compiled / optimized / DLL files
youtube_helper/__pycache__/
youtube_helper/*.py[cod]
youtube_helper/*$py.class

# C extensions
youtube_helper/*.so

# Distribution / packaging
youtube_helper/.Python
youtube_helper/build/
youtube_helper/develop-eggs/
youtube_helper/dist/
youtube_helper/downloads/
youtube_helper/eggs/
youtube_helper/.eggs/
youtube_helper/lib/
youtube_helper/lib64/
youtube_helper/parts/
youtube_helper/sdist/
youtube_helper/var/
youtube_helper/wheels/
youtube_helper/share/python-wheels/
youtube_helper/*.egg-info/
youtube_helper/.installed.cfg
youtube_helper/*.egg
youtube_helper/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
youtube_helper/*.manifest
youtube_helper/*.spec

# Installer logs
youtube_helper/pip-log.txt
youtube_helper/pip-delete-this-directory.txt

# Unit test / coverage reports
youtube_helper/htmlcov/
youtube_helper/.tox/
youtube_helper/.nox/
youtube_helper/.coverage
youtube_helper/.coverage.*
youtube_helper/.cache
youtube_helper/nosetests.xml
youtube_helper/coverage.xml
youtube_helper/*.cover
youtube_helper/*.py,cover
youtube_helper/.hypothesis/
youtube_helper/.pytest_cache/
youtube_helper/cover/

# Translations
youtube_helper/*.mo
youtube_helper/*.pot

# Django stuff:
youtube_helper/*.log
youtube_helper/local_settings.py
youtube_helper/db.sqlite3
youtube_helper/db.sqlite3-journal

# Flask stuff:
youtube_helper/instance/
youtube_helper/.webassets-cache

# Scrapy stuff:
youtube_helper/.scrapy

# Sphinx documentation
youtube_helper/docs/_build/

# PyBuilder
youtube_helper/.pybuilder/
youtube_helper/target/

# Jupyter Notebook
youtube_helper/.ipynb_checkpoints

# IPython
youtube_helper/profile_default/
youtube_helper/ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#working-with-version-control
youtube_helper/.pdm.toml
youtube_helper/.pdm-python
youtube_helper/.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
youtube_helper/__pypackages__/

# Celery stuff
youtube_helper/celerybeat-schedule
youtube_helper/celerybeat.pid

# SageMath parsed files
youtube_helper/*.sage.py

# Environments
youtube_helper/.env
youtube_helper/.venv
youtube_helper/env/
youtube_helper/venv/
youtube_helper/ENV/
youtube_helper/env.bak/
youtube_helper/venv.bak/

# Spyder project settings
youtube_helper/.spyderproject
youtube_helper/.spyproject

# Rope project settings
youtube_helper/.ropeproject

# mkdocs documentation
youtube_helper//site

# mypy
youtube_helper/.mypy_cache/
youtube_helper/.dmypy.json
youtube_helper/dmypy.json

# Pyre type checker
youtube_helper/.pyre/

# pytype static type analyzer
youtube_helper/.pytype/

# Cython debug symbols
youtube_helper/cython_debug/

