{% extends 'base.html' %}
{% block body %}
<div class="w-50 p-3 justify-content-center">
    <div class="mb-3">
        <label for="url" class="form-label">Enter channel url</label>
        <input type="text" class="form-control" id="url" aria-describedby="text">
    </div>
    <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" onclick=get_playlist()>
            Get Playlist
        </button>
    </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <span class="placeholder col-6" id="playlist_url"></span>
        </div>
      </div>
    </div>
<script src="{{ url_for('static',filename='script/channelplaylist.js') }}"></script> 
{% endblock %}